/* Main */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
h3 { 
    text-shadow: 1px 1px 1px #ccc;
}
/* */

/* Body */
body {
    background: url(../img/brushed.png) repeat 0 0 !important;
}
/* */

p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.buttons{
    position: absolute;
    padding-top: 25px;
    padding-right:25px;
    right: 0px;
    top: 0px;
}
.answer-buttons {
    position: absolute;
    top: 1%;
    right: 2%;
}

.answer-textbox{
    margin: 0;
}

.question {
    padding: 30px 0px 12px 0px;
    font-weight: bold;
    position: relative;
    font-size: 16px;
}
body {
    margin-top: 25px;
}
.score {
    font-weight: bold;
    font-size: 15px
}

.show {
    float: right;
}

.bold {
    font-size: 17px;
    font-weight: bold;
}

.highlight {
    box-shadow: 0 0 1em 1em #ccc;
}

.answer {
    padding: 20px 0px 20px 0px;
    background-color: #D4D7FE;
    border-style: solid;
    border-color: #A3A3B2;
    margin: 3px;
    position: relative;
}
.answer-text {
    padding-left: 2%;
    width: 75%;
}
.answers {
    font-weight: bold;
    width: 96%;
    position: relative;
    left: 15px;
}
.answer-score {
    position: absolute;
    top: 0px;
    right: 2px;
}

.textbox-answer { 
    width: 68%;
}


.category-title {
    margin-bottom: -30px
}

.textbox-question {
    width: 85%;
}

#enter-question {
    width: 55%;
}
.half {
    width: 50%;
    display: inline-block;
}

.show-answers {
    color: gray;
    font-family: Nobile, Helvetica, Arial, sans-serif;
    text-decoration: none;
}


/*Modal*/
.type-select {
    width: 120px;
}
/**/
/* NavBar overwriting bootstrap*/
a:hover {
    text-decoration: none;
}
.btn-link:hover{
    text-decoration: none;
}

.welcome {
    position: relative;
    top: 10px;
    left: 10px;
}
/**/

/*pretty print*/
.prettyprint {
    margin-top: -10px;
    font-size: 14px;
    font-family: Consolas;
    background-color: #AEB0AC
}
.undefinedprettyprint{
    width: 60%;
    word-break: break-word;
}
/**/

.insert-creator-answer{
    padding-top: 2px;
    float: right;
}

.answer-buttons button{
    padding: 2px 6px;
}

