<span class="show">
   <button class="btn btn-success" type="button" ng-click="toggleShow()">Answers
      <i class="icon-eye-open"  ng-class="{true: 'icon-eye-open', false: 'icon-eye-close'}[show]"></i>
   </button>
</span>
<div class="questions">
  <ul>
    <form ng-submit="submit()">
      <span class = "bold">Enter a new question:</span>
      <input ng-model='quest' id="enter-question"/>
    </form>
    <h2>Front End Engineering Questions</h2>
    <div ng-repeat="question in questions | orderBy:'score':'true'">
        <li>
          <div class="question">
            <span>{{question.question}}</span>
            <span class="buttons">
              <button on-element class="btn btn-danger" ng-show="checkUser()" type="button" ng-click="remove()">
                <i class="icon-trash"></i>
              </button>
              <button ng-class="{1:'btn-success'}[returnState()]" class="btn" type="button" ng-click="thumbsup()">
                <i class="icon-thumbs-up"></i>
              </button>
              <button class="btn btn-danger" type="button" ng-click="thumbsdown()">
                <i class="icon-thumbs-down"></i>
              </button>
              <span class="score">{{question.score}}</span>
            </span>
          </div>
        <form type="textbox" ng-submit="answerSubmit()">
          <textarea class="textbox-answer" ng-model="answer" rows="3"></textarea>
          <button class="submit-answer" type="submit">Submit Answer</button>
        </form>
          <div ng-show="show" class="answers">
            Answers:
            <div ng-repeat="answer in question.answers | orderBy:'score':'true'" class="answer">
              <div ng-bind-html-unsafe="answer.text"></div>
              <span class="answer-buttons">
                <button class="btn btn-min" type="button" ng-show="checkUser()"ng-click="removeAns()">
                  <i class="icon-trash"></i>
                </button>
                <button class="btn btn-min" type="button" ng-click="thumbsup()">
                    <i class="icon-thumbs-up"></i>
                </button>
                <button class="btn btn-min" type="button" ng-click="thumbsdown()">
                    <i class="icon-thumbs-down"></i>
                </button>
              </span>
            <span class="answer-score">{{answer.score}}</span>
            </div>
          </div>
        </li>
    </div>
  </ul>
</div>
